{% extends "info/base.html" %}

{% block title %}Create an Account{% endblock %}

{% block content %}

        {% if usertype == 'Bookeeper' %}
        {% include 'info/includes/book_navbar.html' %}
    {% else %}
        {% include 'info/includes/corr_navbar.html' %}
    {% endif %}
                        <script>
function myFunction(the) {
  var x = document.getElementById("myDIV");
  if (the == 1) {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
    <div class="conb">
        <div class="row justify-content-sm-center">
            <div class = "class='form-con'">



    				<form class='form-con' method="post">
                    {% csrf_token %}

                                        {% for message in messages %}

    {% if 'error' in message.extra_tags %}
        <div class='alert alert-danger'>{{ message }}</div>
    {% elif 'submit' in message.extra_tags %}
        <div class='alert alert-success'>{{ message }}</div>
    {% endif %}

{% endfor %}
				<h1>Add New Staff Member</h1>

					First Name:
						{{ form1.Firstname.errors }}{{ form1.Firstname }}
					Last Name:
						{{ form1.Lastname.errors }}{{ form1.Lastname }}<br /><br />

					Full Address:
						{{ form1.Fulladdress.errors }}{{ form1.Fulladdress }}
					City:
						{{ form1.City.errors }}{{ form1.City }}<br /><br />

					Primary Phone Number:
						{{ phone | safe }}<br /><br />
						<p class='text-danger'>Format: 000-000-0000</p>

					<!--display selection of user types-->
					User Type:  <select name="type" id="cars">
                                <option value="Worker" onclick="myFunction(1)" >Worker</option>
                                <option value="Coordinator" onclick="myFunction(0)">Coordinator</option>
                                <option value="Bookeeper" onclick="myFunction(0)">Bookeeper</option>
                                </select>

			            <br /><br />

					User Name:<div class='form-row'><div class='col-12'>
						<input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"><br />


						</div></div>Enter password:<div class='form-row'><div class='col-12'> <input class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1"><br />
						</div></div>Confirm password:<div class='form-row'><div class='col-12'> <input class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2"><br />
						</div></div><p class='text-danger'>Passwords need to be at least 8 characters long and include a number,<br />
						a lowercase letter, an uppercase letter, and a special character.</p>
                        <div id="myDIV">
                            Availability: <br /><br />
							Sunday:
								Start:
									<input class='form-fan' type='time' name='sunSt' value='$sunSt'>
								End:
									<input class='form-fan' type='time' name='sunEnd' value='$sunEnd'><br /><br />
							Monday:
								Start:
									<input class='form-fan' type='time' name='monSt' value='$monSt'>
								End:
									<input class='form-fan' type='time' name='monEnd' value='$monEnd'><br /><br />

							Tuesday:
								Start:
									<input class='form-fan' type='time' name='tueSt' value='$tueSt'>
								End:
									<input class='form-fan' type='time' name='tueEnd' value='$tueEnd'><br /><br />

							 Wednesday:
								Start:
									<input class='form-fan' type='time' name='wedSt' value='$wedSt'>
								End:
									<input class='form-fan' type='time' name='wedEnd' value='$wedEnd'><br /><br />

							 Thursday:
								Start:
									<input class='form-fan' type='time' name='thuSt' value='$thuSt'>
								End:
									<input class='form-fan' type='time' name='thuEnd' value='$thuEnd'><br /><br />

							 Friday:
								Start:
									<input class='form-fan' type='time' name='friSt' value='$friSt'>
								End:
									<input class='form-fan' type='time' name='friEnd' value='$friEnd'><br /><br />

							 Saturday:
								Start:
									<input class='form-fan' type='time' name='satSt' value='$satSt'>
								End:
									<input class='form-fan' type='time' name='satEnd' value='$satEnd'><br /><br />


                        </div>



					Notes:<br />
						{{ form1.Notes.errors }}{{ form1.Notes }}<br /><br />

					<button type="submit" class="btn btn-primary">Submit</button>

					<a href='/land' class='btn btn-danger'>Cancel</a>

				</form>

				<!--cancel button that returns user to previous page-->





</form>
</div></div></div>

    </form>
    </div>
    </div>
    </div>
    {% include 'info/includes/footer.html' %}
{% endblock %}