{% extends "info/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% include 'info/includes/book_navbar.html' %}
    <div class="conb">

						  <div style="line-height: 0;" class="row row-cols-1 row-cols-md-3">

  <div class="col mb-4">
<div class="card text-white bg-dark ">

      <div class="card-body">
        <h5 class="card-title">Old Shift Management</h5>

      </div>
	  <div class="card-deck">

<div class="card text-center" style="width: 36rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Worker Administrator Shift Submission</p>
    <a href="/altershift" class="btn btn-primary">Submit Shifts</a>
  </div>
</div>
    </div>
  </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-dark ">
      <div class="card-body">
        <h5 class="card-title">Staff Creation and Modification</h5>

      </div>
	  <div class="card-deck">
	  	  <div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Add A New Staff Member</p>
   <a href="/addstaff" class="btn btn-primary">Add New Staff Member</a>
  </div>
</div>
<div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Modify An Existing Staff Member</p>
    <a href="/viewstaff" class="btn btn-primary">Manage Staff</a>
  </div>
</div>
    </div>
	</div>
  </div>
 <div class="col mb-4">
<div class="card text-white bg-dark ">

      <div class="card-body">
        <h5 class="card-title">Client Creation and Modification</h5>

      </div>
	  <div class="card-deck">
	  	  <div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Add A New Client</p>
       <a href="/addclient" class="btn btn-primary">Add Client</a>
  </div>
</div>
<div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Modify An Existing Client</p>
    <a href="/viewclient" class="btn btn-primary">Manage Clients</a>
  </div>
</div>
    </div>
	</div>
  </div>

   <div class="col mb-4">
    <div class="card text-white bg-dark ">
      <div class="card-body">
        <h6 class="card-title">Options for shift Creation and Modification and authorization of workers hours</h6>
        <div class="col mb-4">
        <div class="col mb-4">
      </div>
	  <div class="card-deck">
<div class="row row-cols-1 row-cols">
  <div class="col mb">
    <div class="card">
      <div class="card-body bg-light text-dark">
        <p class="card-text">Schedule A Shift</p>
		<a href="/scheduleshift" class="btn btn-primary">Schedule Shift</a>
      </div>
    </div>
  </div>
  <div class="col mb">
    <div class="card">
      <div class="card-body bg-light text-dark">
       <p class="card-text">Manage Existing Shifts</p>
       <a href="/viewshift" class="btn btn-primary">Manage Shifts</a>
		<a href="/viewrecshift" class="btn btn-primary">Manage Recurring Shifts</a>
      </div>
    </div>
    </div>
<div class="col mb-4">
    <div class="card">
     <div class="card-body bg-light text-dark">
        <p class="card-text">Approve a Workers Hours</p>
		<a href="/approvehours" class="btn btn-primary">Approve Hours</a><br />
      </div>
    </div>
  </div>
  </div>
    </div>
	</div>
  </div>
  </div>
  </div>
<div class="col mb-4">
<div class="card text-white bg-dark ">
      <div class="card-body">
        <h5 class="card-title">Department Creation and Modification</h5>

      </div>
	  	  <div class="card-deck">
	  	  <div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Add A New Department</p>
    <a href="/adddep" class="btn btn-primary">Add Department</a><br />
  </div>
</div>
<div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Edit An Existing Department.</p>
    <a href="/viewdep" class="btn btn-primary">Manage Departments</a>
  </div>
</div>
    </div>
  </div>
  </div>
<div class="col mb-4">
<div class="card text-white bg-dark ">
      <div class="card-body">
         <h5 class="card-title">Reports / Manage Account</h5>

      </div>
	  	  <div class="card-deck">
	  	  <div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
   <p class="card-text">View Reports</p>
   <a href="/reports" class="btn btn-primary">View Reports</a>
  </div>
</div>
<div class="card text-center" style="width: 18rem;">
<div class="card-body bg-light text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text">Change Your Account Password</p>
   <a href="/changepass" class="btn btn-primary">Change Password</a>
  </div>
</div>
    </div>
  </div>
  </div>
    </div>
  </div>
{% include 'info/includes/footer.html' %}
{% endblock %}